body {
  margin: 0;
}
a:link { text-decoration: underline; }

.NavCss {
  
  /**border: solid;**/
  display: flex;
  justify-content: center;
  gap: 60px;
}
.NavCss a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.NavCss a:hover{
  /**text-decoration: underline;**/
  background-color: lightblue;

}

.footer{
  border: solid;
}

#banner{
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 50%;
 
}
.logo{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 50%;
    max-width:50%;
}
.bannerimage{
  width: 100%;
  height: 300px;   
  
}